title: Επεισόδιο 21: Bohemian Club
author: The Conspiracy Club
email: info@theconspiracyclub.gr
number: 21
date: 2020-10-26 13:00
tags: secret society, usa, moloch
summary: Τι γυρέυουν, κάθε χρόνο, μέλη της "ελίτ" σε ένα απομονωμένο δάσος στη βόρεια Καλιφόρνια; Ο Ορέστης έρχεται μαζί μας για να σχολιάσουμε τις μυστικές συγκεντρώσεις και τις σχέσεις των κυβερνώντων με τον παγανισμό.
cover: https://theconspiracyclub.gr/assets/images/ep21.jpg
duration: "01:02:10"
enclosure: url:"https://theconspiracyclub.gr/assets/episodes/ep21.mp3" length:"29845814"
---

<div>
    <p>
        Τι γυρέυουν, κάθε χρόνο, μέλη της "ελίτ" σε ένα απομονωμένο δάσος στη βόρεια Καλιφόρνια; Ο Ορέστης
        έρχεται μαζί μας για να σχολιάσουμε τις μυστικές συγκεντρώσεις και τις σχέσεις των κυβερνώντων με
        τον παγανισμό.
    </p>

    <h2>Σχετικά links:</h2>
    <ol>
        <li><a href="https://news.artnet.com/exhibitions/jack-lathan-parliament-owls-1610254"> Parliament Owls - artnet.com </a></li>
        <li><a href="https://www.ft.com/content/91544df2-a2a1-11e9-974c-ad1c6ab5efd1">Inside the Bohemian Club: summer camp or secret society - ft.com </a></li>
        <li><a href="https://www.vanityfair.com/culture/2009/05/bohemian-grove-guide200905"> Bohemnia Grove guide - vanityfair.com </a></li>
        <li><a href="https://www.businessinsider.com/bohemian-grove-club-us-presidents-2018-3"> Bohemian Grove US Presidents - businessinsider.com </a></li>
        <li><a href="http://www.theoccultmuseum.com/bohemian-grove-conspiracy-sinister-occult-photographs-from-the-turn-of-the-20th-century/"> Bohemian Grove pictures - theoccultmuseum.com </a></li>
        <li><a href="https://en.wikipedia.org/wiki/Richard_McCaslin">Richard McCaslin - wikipedia.org</a></li>
        <li><a href="https://www.austinmonthly.com/alex-jones-is-mad-as-hell/"> Alex Jones is mad as hell - austinmonthly.com </a></li>
        <li><a href="https://www.youtube.com/watch?v=FVtEvplXMLs">Dark Secrets: inside Bohemian Grove - youtube.com </a></li>
    </ol>

    <div class="tabs four" style="width: 80%; margin: 0 auto;">
        <input id="tab-1" type="radio" name="tabgroupB" checked="" />
        <label class="pseudo button toggle" for="tab-1">Έμβλημα</label>
        <input id="tab-2" type="radio" name="tabgroupB" />
        <label class="pseudo button toggle" for="tab-2">Μάζωξη κυρίων</label>
        <input id="tab-3" type="radio" name="tabgroupB" />
        <label class="pseudo button toggle" for="tab-3">Τελετή</label>
        <input id="tab-4" type="radio" name="tabgroupB" />
        <label class="pseudo button toggle" for="tab-4">Phantom Patriot</label>
        <div class="row">
            <div>
                <img src="/assets/images/bohemian-gallery/owl-logo.jpg" />
            </div>

            <div>
                <img src="/assets/images/bohemian-gallery/gentlemen.jpg" />
            </div>

            <div>
                <img src="/assets/images/bohemian-gallery/the-owl.jpg" />
            </div>

            <div>
                <img src="/assets/images/bohemian-gallery/phantom-patriot.jpg" />
            </div>
        </div>
    </div>

</div>
